.skeleton {
  background-color: var(--md-sys-color-surface-container-highest);
  animation: skeleton-pulse 1.5s infinite ease-in-out;
  width: var(--skeleton-width, 100%);
  height: var(--skeleton-height, 20px);
  border-radius: var(--skeleton-radius, 12px);
}

@keyframes skeleton-pulse {
  0% { opacity: 0.6; }
  50% { opacity: 0.3; }
  100% { opacity: 0.6; }
}